div#contents{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

div.item{
    border: 1px solid black;
    padding: 10px 5px;
    margin: 10px;
    height: 5em;
    width: 12em;
    text-align: center;
}
span.NameText{
    font-size: 1.5em;
}